:root {
    --iris: #4d5ae5;
    --navyblue: #2e2f42;
    --ocean: #404bbf;
    --white: #fff;
    --slate: #434455;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;

}

/*General Styling*/
body {
    font-family: "Roboto", sans-serif;
}

.list {
    list-style: none;
    padding-left: 0;
}

.bg-dark {
    background-color: var(--navyblue);
}

.logo-web {
    color: var(--iris);
}

a {
    text-decoration: ;
} 
/* End of General Styling*/